{% extends 'base.html' %}  
{% load static %}  
{% block content %}  
    {% include 'navbar.html' %}  
    <div class="container mt-5">  
        <div class="alert alert-success display-1 text-center">  
            <img src="{% static 'images/venta.png' %}" width="100px" alt="Logo"> Herramienta actualizar  
        </div>  
        <div class="container">  
            <h1>Editar Artículo</h1>  
            <form method="POST">  
                {% csrf_token %}  
                <table class="table table-bordered">  
                    <tbody>  
                        {% for field in form %}  
                        <tr>  
                            <td>{{ field.label }}</td>  
                            <td>{{ field }}</td>  
                            <td>  
                                {% if field.errors %}  
                                    <div class="text-danger">  
                                        {{ field.errors }}  
                                    </div>  
                                {% endif %}  
                            </td>  
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table>  
                <button type="submit" class="btn btn-primary">Actualizar</button>  
            </form>  
            
            <br>  
            <a href="{% url 'listar_articulos' %}" class="btn btn-info mb-3">Volver a la lista</a>  
            <a href="{% url 'index' %}}" class="btn btn-danger mb-3">Regresar al inicio</a>  
        </div>  
    </div>    
    {% include 'footer.html' %}  
{% endblock %}