{% extends 'base.html' %}  
{% load static %}  
{% block content %}  
{% include 'navbar.html' %}  
<div class="container mt-5">  
    <div class="alert alert-success display-1 text-center">  
        <img src="{% static 'images/venta.png' %}" width="100px" alt="Logo"> Administración inventario  
    </div>  
    <h1>Opciones:</h1>  
    <a href="{% url 'crear_articulo' %}" class="btn btn-warning mb-3">Agregar Nuevo Artículo</a>  
    <a href="{% url 'admin' %}" class="btn btn-danger mb-3">Regresar al inicio</a>  
    <table class="table table-striped">  
        <thead>  
            <tr>  
                <th>Código</th>  
                <th>Descripción</th>  
                <th>Categoría</th>  
                <th>Precio</th>  
                <th>Cantidad</th>  
                <th>Estado</th>  
                <th>Acciones</th>  
            </tr>  
        </thead>  
        <tbody>  
            {% for articulo in articulos %}  
            <tr>  
                <td>{{ articulo.codigo }}</td>  
                <td>{{ articulo.descripcion }}</td>  
                <td>{{ articulo.categoria }}</td>  
                <td>{{ articulo.precio }}</td>  
                <td>{{ articulo.cantidad }}</td>  
                <td>
                    {% if articulo.is_active %}
                        <span class="badge bg-success">Activo</span>
                    {% else %}
                        <span class="badge bg-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td>  
                    <!-- funciones de administración -->  
                    <a href="{% url 'editar_articulo' articulo.codigo %}" class="btn btn-warning btn-sm">Editar</a>  
                    {% if articulo.is_active %}
                        <a href="{% url 'desactivar_articulo' articulo.codigo %}" class="btn btn-danger btn-sm">Desactivar</a>
                    {% else %}
                        <a href="{% url 'activar_articulo' articulo.codigo %}" class="btn btn-success btn-sm">Activar</a>
                    {% endif %}
                    <a href="{% url 'vender_articulo' articulo.codigo %}" class="btn btn-primary btn-sm">Vender</a>  
                    <a href="{% url 'eliminar_articulo' articulo.codigo %}" class="btn btn-danger btn-sm">Eliminar</a>    
                    
                </td>  
            </tr>  
        
            {% endfor %}  
        </tbody>  
    </table>  
</div>
{% include 'footer.html' %}  
{% endblock %}