{% extends 'base.html' %}  
{% block content %}  
<div class="container mt-5">  
    <h2>Ingresa tus datos para iniciar sesión</h2>  
    <form method="post">  
        {% csrf_token %}  
        {{ form.as_t }}  
        <div class="mb-3">  
            <label for="username" class="form-label">Nombre de Usuario</label>  
            <input type="text" class="form-control" id="username" name="username" required>  
        </div>  
        <div class="mb-3">  
            <label for="password" class="form-label">Contraseña</label>  
            <input type="password" class="form-control" id="password" name="password" required>  
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>  
    </form>  
</div>  
{% endblock %} 


