<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
    <div class="container"> <!-- Contenedor para el padding -->  
        <a class="navbar-brand" href="#">Sistema de venta 1.0</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">  
            <span class="navbar-toggler-icon"></span>  
        </button>  
        <div class="collapse navbar-collapse" id="navbarNav">  
            <ul class="navbar-nav">  
                <li class="nav-item">  
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>  
                </li>                  
                {% comment %} <li class="nav-item">  
                    <a class="nav-link" href="{% url 'crear_articulo' %}">Crear Artículo</a>  
                </li>              {% endcomment %}
                <li class="nav-item">  
                    <a class="nav-link" href="http://127.0.0.1:8000/">Cerrar Sesión</a>  
                </li>  
            </ul>  
        </div>  
    </div> <!-- Cierre del contenedor -->  
</nav>